@charset "UTF 8";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html{
    height:100%;
}
html, body{
    margin: 0;
    padding: 0;
    background-color: black;
}
body{    
    font-family: 'Roboto', sans-serif;
    margin:0;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}


/*************************** Header Stuff *******************************************/
header{
    background-color: #505050;
    display:flex;
    justify-content: space-between;
    align-items: center;
    color: #E3E3E3;
}
#menu{
    display:flex;
    margin-left: 44px;
}
#menu a{
    margin: 5px;
    color: #E3E3E3;
}
#gear{
	background: url('images/sprites.png') no-repeat -433px -1px;
	width: 12px;
	height: 12px;
    margin-right: 3px;
}
#gear:hover{
    background: url('images/sprites.png') no-repeat -433px -190px;
	width: 12px;
	height: 12px;
    margin-right: 3px;
}




/* Container Stuff ***************************************************************/
#container{
    display: flex;
    height: 100%;
    box-sizing: border-box;
}



/*Aside (all the way to the left) ************************************************/
aside{
    background-color: #505050;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 45px;
    box-sizing: border-box;
}

#top-icons{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#tray{
    background: url('images/sprites.png') no-repeat -169px -25px;
	width: 12px;
	height: 12px;
    margin-top: 5px;
}
#tray:hover{
    background: url('images/sprites.png') no-repeat -169px -214px;
	height: 12px;
    width: 12px;
    margin-top: 5px;
}
#boxes{
    background: url('images/sprites.png') no-repeat -217px -2px;
	width: 12px;
	height: 12px;
    margin-top: 5px;
}
#boxes:hover{
    background: url('images/sprites.png') no-repeat -217px -191px;
	width: 12px;
	height: 12px;
    margin-top: 5px;
}
#trash{
    background: url('images/sprites.png') no-repeat -458px 0;
	width: 11px;
	height: 13px;
    margin-bottom: 10px;
}
#trash:hover{
	background: url('images/sprites.png') no-repeat -458px -189px;
	width: 11px;
	height: 13px;
    margin-bottom: 10px;
}


/*Section (Middle/Resized element and it's contents ******************************/
section{
    width: 144px;
    background-color: #373737;
    color: #E3E3E3;
    box-sizing: border-box;
    transition: width 0.5s;
    overflow: hidden;
}
details{
    border-top: 1px solid #E3E3E3;
    padding-top: 5px;
    margin-left: 5px;
    width:144px;
}

ul{
    padding-top:10px;
    border-top: 1px solid #E3E3E3;
    list-style-image: url("images/paper.png");
}
#other{
    list-style-image: url("images/fire.png");
}
/* Main and all it's contents ****************************************************/
main{
    padding:10px 0 0 10px;
    width: 100%;
    box-sizing: border-box;
}

nav a{
    background-color: #373737;
    min-width: 173px;
    color:#C2C2C2;
    display: inline-block;
    padding: 10px 10px 10px 10px;
    text-align: center;
    border-radius: 10px 10px 0 0;
}

#bread, #bread a{
    background-color: #161616;
    width: 100%;
    padding: 3px;
    box-sizing: border-box;
    color: #0058A9;
}

/* Footer ************************************************************************/
footer{
    padding: 0 3px 0 16px;
    width: 100%;
    background-color: #0254A0;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    box-sizing: border-box;
}
#wifi{
    background: url('images/sprites.png') no-repeat -410px -1px;
	width: 11px;
	height: 12px;
}

.hide{
    width: 0;
    transition: width 0.5s;
    overflow: hidden;
}
