@charset "UTF-8";

.yellow-bg{
    background-color:yellow;
    color:red;
    font-size: 36px;
}
#my-div{
    background-color:cyan;
    color:white;
    font-size: 24px;
}
div{
    background-color: lightgray;
    color:purple;
    font-size: 48px;
}
a:link, a:visited{
    color:cyan;
}
a:hover, div:hover, #my-div:hover{
    color:green;
}